include pdfserver/translations/*/*/messages.po
include pdfserver/translations/*/*/messages.mo
include pdfserver/templates/*.html
recursive-include pdfserver/static *.gif *.png *.css *.js
include *.py
include pdfserver.cgi
include babel.cfg
include README.rst
include DEVELOPMENT
include LICENSE
include TODO
include requirements.txt
include app.yaml
