Flask

# i18n
Flask-Babel

# Database models (not for App Engine)
SQLAlchemy

# We needed pyPdf>=1.13 for the "n pages on one" feature
# (optionally, 1.12 will work basically)
pyPdf>=1.13

# Watermarking (optional)
reportlab
-f http://www.reportlab.com/software/opensource/rl-toolkit/download/

# Provide manage command
Flask-Script>=0.3.1

# Asynchronous pdf generation (optional)
#celery
