<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
<link type="text/css" href="static/css/jquery-ui.css" rel="stylesheet" />
<link type="text/css" href="static/css/jquery.jnotify.min.css" rel="stylesheet" />
<link type="text/css" href="static/css/pdfserver.css" rel="stylesheet" />
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.validate.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.jnotify.min.js') }}"></script>
<title>{{ _("PDF server") }}</title>
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>
