{% extends "base.html" %}
{% block content %}
<style type="text/css">
        #files tr { margin: 0 3px 3px 3px; padding: 0.4em; font-size: 1.2em; height: 20px; background-color:#eef; }
</style>
<h2>{{ _("Confirm deletion") }}</h2>

<p>{{ _("All files will be deleted. Are you sure?") }}</p>

<form action="{{ url_for('handle_form') }}" method="post">

<table id="upload_table">
    <thead>
    <tr>   
        <th>{{ _("Name") }}</th>
        <th>{{ _("Size") }}</th>
        <th>{{ _("Pages") }}</th>
    </tr>
    </thead>
    <tbody id="files">
    {% for upload in uploads %}
        <tr class="{{ loop.cycle('odd', 'even') }}" id="file_{{ loop.index }}">
            <td>{{upload.filename}}</td>
            <td>{% if upload.size %}{{upload.size|filesizeformat}}{% endif %}</td>
            <td style="text-align: right;">{{upload.page_count}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<button type="submit" name="form_action" value="deleteall" class="deleteallbutton">{{ _("Delete all files") }}</button>
<button type="submit" name="form_action" value="cancel">{{ _("Cancel") }}</button>
</form>
{% endblock %}
