{% extends "base.html" %}
{% block content %}
<style type="text/css">
        #files tr { margin: 0 3px 3px 3px; padding: 0.4em; font-size: 1.2em; height: 20px; background-color:#eef; }
</style>
<h2>{{ _("Confirm deletion") }}</h2>

<p>{{ _("Are you sure you want to delete this file?") }}</p>

<form action="{{ url_for('handle_form') }}" method="post">

<table id="upload_table">
    <thead>
    <tr>   
        <th>{{ _("Name") }}</th>
        <th>{{ _("Size") }}</th>
        <th>{{ _("Pages") }}</th>
    </tr>
    </thead>
    <tbody id="files">
    <tr>
        <td>{{upload.filename}}</td>
        <td>{% if upload.size %}{{upload.size|filesizeformat}}{% endif %}</td>
        <td style="text-align: right;">{{upload.page_count}}</td>
    </tr>
    </tbody>
</table>
<input type="hidden" name="id" value="{{upload.id}}"/>
<button type="submit" name="form_action" value="deleteall" class="deleteallbutton">{{ _("Delete all files") }}</button>
<button type="submit" name="form_action" value="cancel">{{ _("Cancel") }}</button>
</form>
{% endblock %}
