{% extends "base.html" %}
{% block content %}
<div id="container">
<div id="content">
<script type="text/javascript">
//<![CDATA[
    var pdfgenerated_check_interval = -1;
    Array.max = function( array ){
        return Math.max.apply(Math , array);
    };
    Array.min = function( array ){
        return Math.min.apply(Math , array);
    };
    $.validator.addMethod(
        "pageranges",
        function(value, element) {
            // accept combinations of "1-10", "-10", "1-" separated by "," or ";" or "/" but no single "0"
            return this.optional(element) || /^\s*(\d+\s*-\s*\d*|\d*\s*-\s*\d+|\d+)(\s*[;,\/]\s*(\d+\s*-\s*\d*|\d*\s*-\s*\d+|\d+))*\s*$/.test(value) && 0 < Array.min(value.match(/\d+/g));
        },
        "{{ _("Please check your input.") }}"
    );
    $.validator.addMethod(
        "maxpages",
        function(value, element, param) {
            // make sure all numbers mentioned are smaller or equal to parameter
            return this.optional(element) || Array.max(value.match(/\d+/g)) <= param;
        },
        "{{ _("There are only maximum {0} pages.") }}"
    );
    // Update #files with new content loaded from ajax call
    function update_files_table(data) {
        if (data) {
            $("#files").html(data.content);
        }
        $(".deletebutton").button({
            icons: {
                primary: 'ui-icon-circle-close',
            },
            label: "{{ _("Delete") }}",
            text: false,
        });
        if ($("#files tr.file").length == 0) {
            $( "#files" ).sortable( "option", "disabled", true );
        } else {
            $( "#files" ).sortable( "option", "disabled", false );
        }
    }
    // Reload file table when upload_target iframe as been updated after file upload
    $(window).load(function() {
        $("#upload_target").load(function() {
            if (window.frames["upload_target"].document.getElementById('content')) {
                $.ajax({
                    type : 'POST',
                    dataType : 'json',
                    url: '{{ url_for('main_table') }}',
                    data: $('#filesform').serialize() + '&' + $('#files').sortable('serialize'),
                    success: function(data) {
                        $("#upload-progress").css('visibility', 'hidden');
                        update_files_table(data);
                        $.jnotify('{{ _("Successfully upload file") }}');
                    },
                    error: function(req, st, err) {
                        $("#upload-progress").css('visibility', 'hidden');
                        $.jnotify('{{ _("Error updating file list: ") }}' + st, "error", true);
                    },
                });
            } else if (window.frames["upload_target"].document.getElementById('cookies')) {
                $("#upload-progress").css('visibility', 'hidden');
                $.jnotify('{{ _("Please activate cookies so your uploads can be linked to you.") }}', "error", true);
            } else {
                $("#upload-progress").css('visibility', 'hidden');
                $.jnotify('{{ _("Unable to upload file ") }}', "error", true);
            }
        });
    });
    $(function() {
        function cycle_mark_uploads() {
            $.each($("#files tr.file"), function(idx, item) {
                if (idx % 2) {
                    $(item).attr('class', 'file odd');
                } else {
                    $(item).attr('class', 'file even');
                }
            });
        }
        $("#files").sortable({
            stop: function(event, ui) { cycle_mark_uploads() },
            handle: '.handle'
        });
        update_files_table();
        $(".noselection").disableSelection();
        $("#deleteall").dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            buttons: {
                '{{ _("Delete all files") }}': function() {
                    $('#deleteall-progress').css('visibility', 'visible');
                    $.ajax({
                        type : 'POST',
                        dataType : 'json',
                        url : '{{ url_for('handle_form') }}',
                        data: $('#filesform').serialize() + '&' + $('#files').sortable('serialize') + '&form_action=deleteall&delete=delete',
                        error: function(req, st, err) {
                            $.jnotify('{{ _("Unable to delete files: ") }}' + st, "error", true);
                            $('#deleteall-progress').css('visibility', 'hidden');
                        },
                        success: function(data) {
                            update_files_table(data);
                            $.jnotify('{{ _("Deleted all files") }}');
                            $('#deleteall-progress').css('visibility', 'hidden');
                        },
                    });
                    $(this).dialog('close');
                },
                '{{ _("Cancel") }}': function() {
                    $(this).dialog('close');
                }
            }
        });
        $("#pdfgenerated").dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            buttons: {
                '{{ _("Cancel") }}': function() {
                    // Cancel checking
                    pdfgenerated_check_interval = -1;
                    $(this).dialog('close');
                }
            },
            // Add handler to remove download once closed (privacy)
            close:  function(event, ui) {
                if ($('#pdfgenerated_link').attr('title')) {
                    $.ajax({
                        type : 'POST',
                        dataType : 'json',
                        url : '{{ url_for('remove_download') }}',
                        data: 'task_id=' + $('#pdfgenerated_link').attr('title')
                    });
                }
            }
        });
        // nice input buttons
        $(".deleteallbutton").button({
            icons: {
                primary: 'ui-icon-circle-close',
            },
            label: "{{ _("All") }}",
            text: true,
        });
        $(".deleteallbutton").click(function() {
            if ($("#files tr.file").length > 0) {
                $('#deleteall').dialog('open');
            }
            return false;
        });
        $("#combinebutton").button({
            icons: {
                primary: 'ui-icon-document'
            },
            text: true
        });
        $("#moreoptionsbutton").button({
            icons: {
                primary: 'ui-icon-circlesmall-plus'
            },
            label: "{{ _("More options") }}",
            text: true
        });
        $("#lessoptionsbutton").button({
            icons: {
                primary: 'ui-icon-circlesmall-minus'
            },
            label: "{{ _("Less options") }}",
            text: true
        });
        // Upload action
        $("#uploadbutton").button({
            icons: {
                primary: 'ui-icon-plusthick'
            },
            text: true
        });
        $("#uploadbutton").click(function() {
            $("#upload-progress").css('visibility', 'visible');
            return true;
        });
        $("#uploadtype").attr('value', 'ajax');
        $("#filesform").attr('target', 'upload_target');
        // Combine action
        $("#filesform").validate();
        $('#combinebutton').click(function() {
            function test_pdf_finished(check_url) {
                if (pdfgenerated_check_interval <= 0) {
                    return
                }
                setTimeout(
                    function(){
                        $.ajax({
                            type : 'GET',
                            dataType : 'json',
                            url : check_url,
                            error: function(req, st, err) {
                                $("#pdfgenerated_msg").html('{{ _("An error occurred: ") }}' + st);
                            },
                            success: function(data) {
                                    if (data.ready && data.success) {
                                        $("#pdfgenerated_msg").html('{{ _("Your PDF file has been generated.") }} <p><a id="pdfgenerated_link" target="_blank" href="' + data.url + '" title="' + data.task_id + '">{{ _("Download PDF...") }}</a></p>');
                                        //window.open(data.url, 'generatedpdf');
                                        $("#pdfgenerated").dialog("option", "buttons", {
                                            "Finish": function() { $(this).dialog("close"); }
                                        });
                                    } else if (data.ready && !data.success) {
                                        $("#pdfgenerated_msg").html('{{ _("Error generating the PDF.") }}');
                                    } else {
                                        test_pdf_finished(check_url);
                                    }
                            }
                        });
                        pdfgenerated_check_interval *= 1.5;
                    },
                    pdfgenerated_check_interval);
            };
            if ($("#files tr.file").length > 0) {
                $('#pdfgenerated').dialog('open');
                $("#pdfgenerated_msg").html('{{ _("Generating your PDF...") }}<br/><img src="{{ url_for('static', filename='ajax-loader.gif')}}" alt="loading" />');
                pdfgenerated_check_interval = 500;
                $.ajax({
                    type : 'POST',
                    dataType : 'json',
                    url : '{{ url_for('handle_form') }}',
                    data: $('#filesform').serialize() + '&' + $('#files').sortable('serialize') + '&form_action=combine',
                    error: function(req, st, err) {
                        ("#pdfgenerated_msg").html('{{ _("An error occurred: ") }}' + st);
                    },
                    success: function(data, textStatus, request) {
                        test_pdf_finished(data.url);
                    }
                });
            };
            return false;
        });
    });
//]]>
</script>
<h1>{{ _("Welcome to pdfserver") }}</h1>
<p>{{ _("Upload PDF files, drag them into the right order and recombine pages.") }}</p>

<form action="{{ url_for('handle_form') }}" id="filesform" name="action_form" method="post" enctype="multipart/form-data" accept-charset="utf-8">
<table id="filetable">
    <thead>
    <tr>
        <th style="width: 20px;"></th>
        <th>{{ _("Name") }}</th>
        <th style="width: 80px;">{{ _("Size") }}</th>
        <th style="width: 40px;">{{ _("Pages") }}</th>
        <th style="width: 180px;"><span style="font-style:italic;">{{ _("Optionally select pages (e.g. '1-4, 6, 19-')") }}</span></th>
        <th style="width: 40px;"></th>
    </tr>
    </thead>
    <tfoot>
        <tr id="uploadfooter">
            <td></td>
            <td colspan="5">
                <input type="file" name="file" id="id_file" size="30"/>
                <input type="hidden" name="uploadtype" id="uploadtype" value=""/>
                <button type="submit" id="uploadbutton" name="form_action" value="upload">{{ _("Upload") }}</button>
                <span id="upload-progress" style="visibility: hidden;"><img src="{{ url_for('static', filename='ajax-loader-circle.gif') }}" width="16" alt="loading"/></span>
            </td>
        </tr>
        <tr id="moreoptions">
            <td colspan="6">
                <span>
                    {{ _("Pages per sheet") }}<br/>
                    <span style="display: inline-block;">
                    <input type="radio" name="pages_sheet" value="1" checked="checked" /> 1<br/>
                    <input type="radio" name="pages_sheet" value="2"/> 2<br/>
                    <input type="radio" name="pages_sheet" value="4"/> 4
                    </span>
                    <span style="display: inline-block;">
                    <input type="radio" name="pages_sheet" value="6"/> 6<br/>
                    <input type="radio" name="pages_sheet" value="9"/> 9<br/>
                    <input type="radio" name="pages_sheet" value="16"/> 16
                    </span>
                </span>
                <span>
                    {{ _("Rotate clockwise by") }}<br/>
                    <input type="radio" name="rotate" value="0" checked="checked" /> 0°<br/>
                    <input type="radio" name="rotate" value="90"/> 90°<br/>
                    <input type="radio" name="rotate" value="180"/> 180°<br/>
                    <input type="radio" name="rotate" value="270"/> 270°
                </span>
                <span>
                    {{ _("Insert watermark (e.g. 'DRAFT')") }}<br/>
                    <input type="text" name="text_overlay"/>
                </span>
            </td>
        </tr>
        <tr id="combinefooter">
            <td colspan="2"><span style="font-size: 1.1em;">
            <a href="#" id="moreoptionsbutton" onclick="$('#moreoptions').fadeIn();$('#moreoptionsbutton').hide();$('#lessoptionsbutton').show();return false"></a>
            <a href="#" style="display: none;" id="lessoptionsbutton" onclick="$('#moreoptions').fadeOut();$('#lessoptionsbutton').hide();$('#moreoptionsbutton').show();return false"></a>
            </span></td>
            <td colspan="3" style="text-align: right;"><span style="font-size: 1.1em;">
            <button type="submit" name="form_action" value="combine" id="combinebutton">{{ _("Combine &amp; open") }}</button>
            </span></td>
            <td><span style="font-size: 1.1em; white-space:nowrap;">
                <button type="submit" name="form_action" value="confirm_deleteall" id="deleteallbutton" class="deleteallbutton">{{ _("Delete all files") }}</button>
                <span id="deleteall-progress" style="visibility: hidden;"><img src="{{ url_for('static', filename='ajax-loader-circle-white.gif') }}" width="16" alt="loading"/></span>
            </span></td>
        </tr>
    </tfoot>
    <tbody id="files">
    {% include 'uploads.html' %}
    </tbody>
</table>
<script type="text/javascript">$('#moreoptions').hide();</script>
</form>

<div id="deleteall" style="display: none;" title="{{ _("Confirm deletion") }}">
        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>{{ _("All files will be deleted. Are you sure?") }}</p>
</div>
<div id="pdfgenerated" style="display: none;" title="{{ _("Generating PDF") }}">
    <p>
        <span class="ui-icon ui-icon-clock" style="float:left; margin:0 7px 50px 0;"></span>
        <span id="pdfgenerated_msg"></span>
    </p>
</div>

<div style="margin-top: 30px;">
<h3>{{ _("Hints") }}</h3>
<ul>
<li>{{ _("To simply join documents you can leave the page selection empty.") }}</li>
<li>{{ _("If you want to insert pages from a document B into the middle of document A, upload A twice selecting first the initial and then the final range separately.") }}</li>
<li>{{ _("Storing several pages on one sheet will only work on a per-document basis. If you need to merge pages between documents combine the documents first and then in a second run actually merge pages onto one sheet.") }}</li>
</ul>
</div>

</div></div>
<div id="footer"><div style="width: 100%" class="footer">{% trans %}<a href="http://pdfserverapp.appspot.com/">Pdfserver</a> is <a href="http://github.com/cburgmer/pdfserver/blob/master/LICENSE">free and open source software</a> and is available from <a href="http://github.com/cburgmer/pdfserver">Github</a>.{% endtrans %}
<div style="float: right;"><a href="http://validator.w3.org/check?uri=referer"><img style="border: 0 none;" src="http://www.w3.org/Icons/valid-xhtml10" alt="Valid XHTML 1.0 Transitional" height="31" width="88"/></a></div>
</div></div>
{# An iframe for "swallowing" the return value of a "ajax-style" file upload #}
<iframe id="upload_target" name="upload_target" src="" style="display:none;"></iframe>
{% endblock %}
